@import (once) 'vars.less';

.meter {
	display: block;
	width: 100%;
	.meter-header, .meter-footer {
		text-align: center;
		font-size: 0.75em;
		text-transform: lowercase;
	}
	.meter-header {
		font-weight: bold;
		margin-bottom: 0.5em;
	}
	.meter-bar {
		@size: 1em;
		.clearfix();
		background-color: fade(@gray-text, 25%);
		border-radius: @size;
		height: @size / 2;
		margin-bottom: 0.5em;
		overflow: hidden;
		width: 100%;
		.meter-series {
			float: left;
			height: 100%;
			&:first-of-type {
				border-top-left-radius: @size;
				border-bottom-left-radius: @size;
			}
			&:last-of-type {
				border-top-right-radius: @size;
				border-bottom-right-radius: @size;
			}
		}
		.meter-series-label {
			display: none;
		}
	}
}

.legend {
	display: table;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	@media (min-width: @breakpoint-md) {
		&.half {
			width: 50%;
		}
	}
	.legend-field {
		display: table-row;
		.legend-title, .legend-subitem, .legend-value {
			display: table-cell;
			vertical-align: middle;
			white-space: nowrap;
		}
		.legend-icon {
			border-radius: 0.125em;
			box-sizing: border-box;
			display: inline-block;
			height: 0.75em;
			margin-right: 0.5em;
			vertical-align: middle;
			width: 0.75em;
			&.for-remainder {
				background-color: fade(@gray-text, 25%) !important;
			}
		}
		.legend-title {
			min-width: 50%;
			text-transform: lowercase;
			.keep-case {
				text-transform: none;
			}
		}
		.legend-subitem {
			color: @gray-text;
			min-width: 12.5%;
		}
		.legend-value {
			font-weight: 700;
			text-align: right;
			min-width: 37.5%;
		}
	}
	&.mono-values .legend-value {
		font-family: @font-mono;
		font-size: 0.75em;
		line-height: inherit;
	}
}

h4 ~ .legend {
	border-spacing: 0 0.25em;
	font-size: 0.875em;
	width: 87.5%;
}
.legend + h4 {
	margin-top: 0.25em;
}

.meter .meter-bar .meter-series:nth-of-type(1n),
.legend .legend-field:nth-of-type(1n) .legend-icon {
	background-color: fade(@color-primary, 75%);
}
.meter .meter-bar .meter-series:nth-of-type(2n),
.legend .legend-field:nth-of-type(2n) .legend-icon {
	background-color: fade(@color-secondary, 75%);
}
.meter .meter-bar .meter-series:nth-of-type(3n),
.legend .legend-field:nth-of-type(3n) .legend-icon {
	background-color: fade(@color-tertiary, 75%);
}
