@import (once) 'variables.less';

// Components grid
.grid { .clearfix(); }
.component {
	&:not(:last-of-type) { margin-bottom: 1em; }
	@media (min-width: @screen-md) {
		float: left;
		padding: 0 1%;
		width: 48%;
		&:nth-of-type(2n+1) { clear: both; }
	}
	@media (min-width: @screen-lg) {
		width: 31.3333333%;
		&:nth-of-type(2n+1) { clear: none; }
		&:nth-of-type(3n+1) { clear: both; }
	}
	> header {
		margin-bottom: 0.5em;
		h2 {
			font-size: 1em;
			font-weight: 600;
			margin: 0;
			@media (max-width: (@screen-md - 0.1px)) {
				overflow: hidden;
				> span:only-of-type { position: relative; }
				> span:only-of-type:after {
					border-bottom: 0.09375em solid fade(@theme-gray, 25%);
					content: '';
					left: 100%;
					margin-left: 0.5em;
					position: absolute;
					top: 50%;
					width: 480px;
				}
			}
		}
	}
	> section {
		padding: 0 0 0 0.5em;
		h3 {
			font-size: 0.875em;
			margin: 0.5em 0 0 0;
		}
	}
	.field-list {
		margin: 0;
		padding: 0;
	}
	.field {
		display: block;
		.clearfix();
		&:not(:last-of-type) { margin: 0 0 0.25em 0; }
		.label {
			var { font-style: normal; }
			.icon {
				background-color: fade(@theme-gray, 25%);
				border-radius: 0.125rem;
				display: block;
				float: left;
				height: 0.5rem;
				width: 0.5rem;
				margin-top: 0.375rem;
				margin-right: 0.25rem;
				&.spacer { background-color: transparent; }
			}
			&.mono {
				font-family: @font-mono;
				font-size: 0.875em;
				line-height: inherit;
			}
		}
		.value {
			float: right;
			clear: right;
			font-weight: 600;
			min-width: 3em;
			margin-left: 0.5em;
			text-align: right;
			&:only-child { float: none; }
			span { font-weight: 300; }
			var { font: inherit; }
			var + var { margin-left: 0.25em; }
			var.detail {
				color: @theme-gray;
				margin-left: 0;
			}
		}
		.meter {
			float: right;
			width: 50%;
		}
		&.overview .meter {
			margin-bottom: 0.25em;
			margin-top: 0.25em;
			width: 100%;
		}
	}
}
