@import (once) 'vars';

.content {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1em;
	@media (min-width: @breakpoint-xl) {
		max-width: 1200px;
	}
}

.grid {
	display: flex;
	align-items: flex-start;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.box {
	box-sizing: border-box;
	display: inline-block;
	margin-bottom: 1em;
	width: 100%;
	@media (min-width: @breakpoint-sm) {
		width: 50%;
	}
	@media (min-width: @breakpoint-lg) {
		width: 33.33333333333%;
	}
}
