@import (once) 'variables.less';
@import (once) 'components.less';

// General element styles
a, a:visited {
	color: @theme-blue;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

// Page
html {
	font: normal 300 1em/1.25 @font-sans;
	body {
		background-color: @light;
		color: @dark;
		min-width: 13em;
		padding: 1em;
		transition: background-color @transition, color @transition;
	}
	&.dark-mode body {
		background-color: @black;
		color: @light;
	}
	&:not([data-env^="prod"]):before {
		background-color: fade(@dark, 87.5%);
		color: @light;
		content: attr(data-env);
		font-size: 0.75em;
		font-weight: 600;
		left: 0;
		padding: 0.5em 0.75em;
		position: absolute;
		top: 0;
	}
}

// Content
main {
	margin: 0 auto;
	max-width: 480px;
	@media (min-width: @screen-md) {
		max-width: 768px;
	}
	@media (min-width: @screen-lg) {
		max-width: 1200px;
	}
}

// Page header
main > header {
	margin-bottom: 1em;
	text-align: center;
	@media (min-width: @screen-md) {
		padding: 0 1%;
		width: 98%;
		text-align: left;
		.clearfix();
	}
	h1 {
		font-weight: 600;
		line-height: 1;
		margin: 0;
		@media (min-width: @screen-md) {
			float: left;
		}
	}
	aside {
		color: @gray;
		var { font: inherit; font-weight: 600; }
	}
	nav {
		margin-top: 0.5em;
		.clearfix();
		@media (min-width: @screen-md) {
			float: right;
			margin-top: 0;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			@media (min-width: @screen-md) {
				float: right;
				.clearfix();
			}
			li {
				display: inline-block;
				line-height: 2em;
				margin: 0.25em 0;
				vertical-align: middle;
				&.separator { margin-right: 1em; }
				&.break {
					display: block;
					margin-right: 0;
				}
				@media (min-width: @screen-md) {
					display: block;
					float: left;
					margin: 0;
					&:not(:last-of-type) { margin-right: 1em; }
					&.separator {
						border-right: 0.0625em solid @gray;
						padding-right: 1em;
					}
				}
			}
		}
		.input-container {
			.label-before, .label-after {
				color: @gray;
				margin: 0 0.25em;
			}
			.input {
				border: none;
				border-bottom: 0.125em solid @theme-blue;
				background-color: transparent;
				font: inherit;
				margin: 0;
			}
		}
		@media (max-width: (@screen-md - 0.1px)) {
			label { .sr-only(); }
		}
		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: transparent url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTE5NTlhIiBoZWlnaHQ9IjE4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xNi41OSA4LjU5TDEyIDEzLjE3IDcuNDEgOC41OSA2IDEwbDYgNiA2LTZ6Ii8+DQo8L3N2Zz4NCg==) no-repeat 95% 50%;
			background-size: 1em;
			border: none;
			border-bottom: 0.125em solid @theme-blue;
			border-radius: 0;
			padding: 0.125em 1.25em 0.125em 0.25em;
		}
		button {
			background-color: transparent;
			border: 0.125rem solid @theme-blue;
			border-radius: 0.25em;
			box-sizing: border-box;
			display: inline-block;
			font-size: 0.75em;
			font-weight: 300;
			line-height: 1;
			margin: 0;
			padding: 0.5em 1em;
			transition: background-color @transition, color @transition;
			vertical-align: niddle;
			&:hover {
				background-color: @theme-blue;
				color: @white;
			}
		}
	}
}

// Page footer
main > footer {
	border-top: 0.0625em solid fade(@gray, 25%);
	clear: both;
	color: @gray;
	margin-top: 1em;
	padding-top: 0.5em;
	@media (min-width: @screen-md) {
		border-top: none;
		margin-top: 2em;
	}
	p {
		margin: 0;
		font-size: 0.75em;
		text-align: center;
	}
	a, a:visited {
		color: inherit;
		font-weight: 600;
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}
}

#loading-indicator {
	background-color: fade(@dark, 87.5%);
	bottom: auto;
	color: @white;
	font-size: 0.75em;
	font-weight: 600;
	line-height: 1;
	margin: 0 0 0 0.5em;
	opacity: 1;
	padding: 0.75em;
	position: fixed;
	right: 0;
	top: 0;
	visibility: visible;
	z-index: 100;
	&::before {
		animation: spin 500ms linear infinite;
		animation-play-state: running;
		background-color: transparent;
		border: 0.125em solid @white;
		border-left-color: transparent;
		border-top-color: transparent;
		border-radius: 50%;
		content: '';
		display: block;
		line-height: 1;
		float: left;
		height: 0.75em;
		margin: 0 0.5em 0 0;
		width: 0.75em;
	}
	&.status-0, &.status-4 {
		opacity: 0;
		transition: opacity @transition, visibility 0s linear 0.5s;
		visibility: hidden;
	}
	&.status-0::before, &.status-4::before {
		animation-play-state: paused;
	}
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
