// Font stack
@font-header: 'Palanquin', sans-serif;
@font-body: 'Noto Sans', sans-serif;
@font-mono: 'Fira Mono', sans-serif;

// Colors
@light-mode-text: #303841;
@light-mode-background: #f3f3f3;
@dark-mode-text: @light-mode-background;
@dark-mode-background: #000000;

@gray-text: #91959a;

// http://paletton.com/palette.php?uid=53v0u0kpWOueWUFkPRqvAL1GSvT
@color-primary: #3498db;
@color-secondary: #2be189;
@color-tertiary: #452ce1;
@color-opposite: #ffa430;

@color-highlight-text: @dark-mode-text;
@color-highlight-background: fade(@color-primary, 75%);

// Grid system breakpoints
@breakpoint-xs: 480px;
@breakpoint-sm: 640px;
@breakpoint-md: 768px;
@breakpoint-lg: 992px;
@breakpoint-xl: 1280px;
